* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 15px 0;
  height: 15px;
  vertical-align: middle;

}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}


.top-left {
  float: left;
  padding: 0 10px;
}


.top-links {
  display: inline-block;
  float: right;
  padding: 0px;
  margin: 0 20px 0 0;
}


.top-links li {
  display: inline-block;
  margin: 0 10px;
}


.finder-form-container {
  width: auto;
  padding: 20px;
  height: 80px;
  float: left;
}


.sign-up-bear {
  text-decoration: none;
  color: white;
  margin: 15px;
  font-size: 1em;
}


.bear {
  width: 4%;
  margin-left: 10px;
  vertical-align: middle;
  padding: 20px 65px;
}


.header-finder {
  height: 100px;
  width: auto;
  margin: 0 auto;
}


#finder {
background-color: rgb(31, 82, 111);
width: 900px;
height: 45px;
float: left;
border: none;
font-size: 20px;
border: groove;
}


.sign-up {
  font-size: 1em;
  text-decoration: none;
  color: white;
  background-color: rgb(255, 144, 51);
  border: 2px rgb(255, 144, 51);
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  height: 120px;
  }


.learn {
  font-size: 1em;
  background-color: rgb(180, 30, 4);
  border: 2px rgb(180, 30, 4);
  border-radius: 25px;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  margin: 20px 0 0 0;
  width: 40%;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: normal;
}


.more {
font-size: 1em;
text-decoration: none;
color: white;
}


.about {
  padding-bottom: 20px;
}


.what-is-npm {
background-image: url("images/forklift.svg");
background-size: cover;
height: 500px;
color: white;
}


.links {
  float: right;
  padding: -1000;
}


.logo {
  float:left;
  width: 120px;
  padding: 20px 10px;
}


header {
  color: white;
  font-size: 1.1em;
  height: 450px;
  background: rgb(32, 101, 136);
  background-image: url("images/city-scape.svg");
  background-size: cover;
}


#collaboration {
  background: rgb(39, 53, 71);
  height: 550px;
}


.people {
  width: 600px;
  padding: 50px 40px 0 0;
  margin: 10px 40px 0;
  float: left;
}


.text-collaboration {
  font-size: 1em;
  margin: 0 auto;
  color: white;
  padding: 150px 0px 0 0px;
  left: 500px;
  letter-spacing: 0.3em;
  line-height: 1.4em;
}


.what-is-npm-text {
  margin: 0 auto;
  width: 70%;
  font-size: 1em;
  padding: 100px 50px 0px;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  position: relative;
}


.install-npm {
  font-size: 1em;
  text-decoration: none;
  color: white;
  background-color: rgb(140, 135, 134);
  border: 2px rgb(140, 135, 134);
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  height: 120px;
}


#information {
  height: 230px;
}


.building {
  margin: 0 auto;
  width: 70%;
}


p {
  padding: 20px 0;
  font-size: 1em;
}


h1 {
  font-color: white;
  padding-bottom: 20px;
  letter-spacing: 0.2em;
}


h2 {
  color: black;
  padding-bottom: 20px;
  letter-spacing: 0.1em;
  padding: 80px 0px 0 300px;
}


h3 {
  color: black;
  padding-bottom: 20px;
  letter-spacing: 0.2em;
  padding: 15px 0px;
}


.info {
  color: rgb(167, 164, 164);
  letter-spacing: 0.2em;
  padding: 20px 0 0 140px;
  font-size: 0.8em;
}


#logos {
  display: block;
  margin: 0 auto 0;
  padding: 0px 0px 0px 35px;
  text-align: center;
  text-decoration: none;
  width: 70%;
}


.binoculars {
  width: 33%;
  float: left;
}


.flag {
  width: 33%;
  float: left;
}


.backpack {
  width: 33%;
  float: left;
}



.txt {
  text-decoration: none;
  color: red;
}


.blocks {
  color: rgb(167, 164, 164);
}
